<%- include('partials/header') %>
    <main>
        <main>
            <h1>
                <%= title %>
            </h1>

            <% categories.forEach(category=> { %>
                <h2>
                    <%= category.category_name %>
                </h2>
                <% }) %>

        </main>



    </main>

    <%- include('partials/footer') %>