<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>
        <h2>Enviromental</h2>

        <h2>Educational</h2>

        <h2>Community Service</h2>

        <h2>Health and Wellness</h2>




    </main>

    <%- include('partials/footer') %>